.mock-editor-loading::after {
    content: "";
    /* position: absolute; */
    width: 16px;
    height: 16px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;
    border: 1px solid transparent;
    border-top-color: #00080d;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.mock-editor-loading-loader {
    content: "";
    /* position: absolute; */
    width: 16px;
    height: 16px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;
    border: 1px solid transparent;
    border-top-color: #00080d;
    border-radius: 50%;
    animation: mock-editor-loading-spinner 1s ease infinite;
}

.mock-editor-loading-loader.disabled {
    border-top-color: #8d8c8c;
}

@keyframes mock-editor-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}