.monaco-tree .monaco-tree-rows>.monaco-tree-row>.content {
    display: flex;
    align-items: baseline;
}

.monaco-tree .monaco-tree-rows>.file-checkbox {
    margin-right: 1px;
}


.monaco-icon-label.has-children-checked .label-name {
    color: green
}